@font-face {
    font-family: "KoPubWorld Dotum";
    font-style: normal;
    font-weight: 300;
    src:
        local("KoPubWorld-Dotum-Light"),
        url("../../fonts/KoPubWorld-Dotum-Light.ttf") format("truetype");
}
@font-face {
    font-family: "KoPubWorld Dotum";
    font-style: normal;
    font-weight: 400;
    src:
        local("KoPubWorld-Dotum-Medium"),
        url("../../fonts/KoPubWorld-Dotum-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "KoPubWorld Dotum";
    font-style: normal;
    font-weight: 700;
    src:
        local("KoPubWorld-Dotum-Bold"),
        url("../../fonts/KoPubWorld-Dotum-Bold.ttf") format("truetype");
}

.user-layout {
    font-family:
        "KoPubWorld Dotum", "Noto Sans KR", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo",
        sans-serif;
    font-weight: 300;
}

.user-layout input,
.user-layout select,
.user-layout button,
.user-layout textarea,
.user-layout table {
    font-family:
        "KoPubWorld Dotum", "Noto Sans KR", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo",
        sans-serif;
}